<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @invoice.employee %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @invoice.customer %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
